---
layout: default
---
This site currently consists of static pages written in html(which I&apos;m getting rid of) and 
%a{:href => "https://haml.info/"} Haml  
built with 
%a{:href => "https://jekyllrb.com/"} jekyll
, served by good old 
%a{:href => "http://projects.apache.org/projects/http_server.html"} apache
.
