---
layout: default
---
This site currently consists of static pages written in 
%a{:href => "https://haml.info/"} Haml  
built with 
%a{:href => "https://jekyllrb.com/"} jekyll
, served by good old 
= succeed "." do 
  %a{:href => "http://projects.apache.org/projects/http_server.html"} apache
