---
layout: default
---
This site currently consists of static pages written in html(which I'm getting rid of) and Markdown(https://daringfireball.net/projects/markdown/)  built with [jekyll](https://jekyllrb.com), served by good old [apache](http://projects.apache.org/projects/http_server.html) 
