---
layout: default
title: Eldon - Writing software for Atlanta and beyond.
---
.container
  .content
    .page-header
      %section#projects
        %h1 Projects
        %br
        %dt 
          %a{:href => "http://wiki.freesideatlanta.org/fs/Info"} Freeside Atlanta
        %dd I'm on the board of directors at Freeside, and work on some of the forthcoming IT infrastructure, 3D printing, and a CNCrouter.
        %br
        %dt
          %a{:href => "https://github.com/eldondev/govathon"}Team Vacant
        %dd I participated in a citizen hackathon in Atlanta a while back. We wrote a webapp to report vacant housing via sms, but it needs some polish to get off the ground. I'm hoping to provide that in the next couple of weeks.
        %br
        %dt This site!
        %dd I have rarely had the time or inclination to generate a persistent public web presence. Hopefully that will change. This is actually prototype 1.5, halfway between a single static page (prototype 1) and full-on jekyll+markdown. I say halfway because I've broken the page down into jekyll-style posts, but I'm still in the process of converting them from html to markdown. Ultimately, I'll probaby put it on github pages (it's even already in a repo!)
    .page-header
      %section#opinions
        %h1 Opinions
        %ul
          {% for post in site.posts %}
          %li
            %dt
              %a{:href => '{{ post.url }}'} {{ post.title }}
            %dd {{ post.excerpt }} 
          {% endfor %}

