\---
layout: post
title: 'On Shipping Code'
\---
In reference to
%a{:href => "http://jstorimer.com/2012/01/09/the-hungry-programmer.html"} Jesse Storimer's The Hungry Programmer
%br/
I think a lot about testing when writing code, but recently I have hit what I see as a major stumbling block. The core issues here is that
%u
  %i I am not writing much code.
At least, that's the goal. When I do write code, it is usually a contribution to one of the
%a{:href => "http://www.rabbitmq.com/"} well-established
%a{:href => "http://hadoop.apache.org"} products
%a{:href => "http://cassandra.apache.org"} I
= succeed "." do
  %a{:href => "https://github.com/nathanmarz/storm"} use
The biggest frustration for me there is the lack of true distributed test harnesses. My great hope for this was http://whirr.apache.org/, but it seems to be slow to catch on, or else it is not effectively used in tests. I deeply hope that this gets remedied.
= succeed "E.S.," do
  %br/
2012-01-12
