---
layout: default
---
%ul
  %li streamline static site publishing
  %li write a blog post on migrating from static html to jekyll and haml
  %li write blog post on auto-vpn in openwrt
  %li work on team vacant
  %li work on qr code project
  %li add a dotfiles repository
  %li firesheep/etterecap demo for freeside crypto hanout
  %li write blog post on whitespace
  %li write blog post on manual gpg verification of mime emails
  %li build flash card for nook
  %li build u-boot for rpi
  %li build housing box for solar
