---
layout: default
---
%ul
  %li Convert all the links in the yaml from %a to the link_to keyword.
  %li write a blog post on migrating from static html to jekyll and haml
  %li add a dotfiles repository
