---
layout: post
title: 'Migrating to Jekyll and Haml'
excerpt: 'Writing a blog should be about writing content, not markup'
---
%h1 Writing a blog should be about writing content, not markup
%p
  I'm really re-focusing on this platform quite a bit, so I will give a little
  history, and then talk about the direction I want to steer this blog. 

%p 
  So in 2011,I had been in my professional life for
  while at that point, and I had contributed a few things to apache. I wanted to
  contribute more to projects on Github and submit patches to Apache. My employer
  at the time didn't have a broad public presence, and so I was free to do so
  unencumbered by their brand. As such, I decided perhaps I should try to make a
  personal handle, which would be mostly "profession" in nature, and try to stick
  my flag in the sand in a few handle based services (twitter and github, mostly).
  I registered the domain eldondev.com, and the associated accounts.

%p
  Really, in the beginning, the site was an excuse to play with bootstrap a
little. The "front-end-guys" (oh how I hate that distinction) were using it to
rapidly build in
