---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
  </head>


  <body data-spy="scroll" data-offset="90" data-target=".navbar">
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/custom.js"></script>
    <div class="container">
    <div class="fill">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <a class="brand" href="#">Eldon&apos;s</a>
          <ul class="nav">
            <li><a href="/#projects" class="homesection">Projects</a></li>
            <li><a href="/#opinions" class="homesection">Opinions</a></li>
            <li><a href="http://www.github.com/eldondev" id="header_github">Github</a></li>
            <li><a href="http://twitter.com/eldondev" id="header_about">About</a></li>
            <li><a href="mailto:eldon@eldondev.com" id="header_contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
      <div class="content">
	{{ content }}
      </div>
    </div>
</div>
  </body>
</html> 
