---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>EldonDev - If you don't know your users, you're doomed to forget them.</title>
    <link href="/bootstrap.css" rel="stylesheet">
  </head>


  <body>
    <a href="">eldondev</a>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">Eldon&apos;s Statement</a>

          <ul class="nav">
            <li class="active" id="header_project"><a href="#projects">Projects</a></li>
            <li><a href="http://www.github.com/eldondev" id="header_github">Github</a></li>
            <li><a href="http://twitter.com/eldondev" id="header_about">About</a></li>
            <li><a href="mailto:eldon@eldondev.com" id="header_contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container" style="position:relative;top:60px;">
      <div class="content">

	{{ content }}
      </div>
    </div>
  </body>
</html> 
